.warning {
    background: #ffcc6a;
    color: white;
    border-radius: 20px;
    padding: 5px;
}

.success {
    background: #a9c9a6;
    color: white;
    border-radius: 20px;
    padding: 5px;
}

.failure {
    background: #ec5b56;
    color: white;
    border-radius: 20px;
    padding: 5px;
}