.Button {
    &_variant_filled {
        background-color: teal;
        color: white;
        border: none;
        cursor: pointer;
        padding: 12px;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    &_variant_outline {
        background-color: transparent;
        color: teal;
        border: 2px solid teal;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    &_variant_link {
        background-color: transparent;
        color: teal;
        border: none;
        cursor: pointer;
        padding: 12px;
    }
}